.main-page {
    padding-top: 20px;
}

.time-travel{
    font-size: 18px;
    margin-bottom: 20px;
}

    .time-travel-next{
        text-align: right;
    }

.calendar{}

    .calendar-header{
        text-align: center;
    }

    .calendar-table{
        width: 100%;
    }

    .calendar-days {
        font-weight: bold;
    }