
.title{
	font-family: "roboto", sans-serif;
	color: #ffffff;
}

.container-fluid {
	padding: 0;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.header{
	height: 70px;
	line-height: 70px;
}

.navbar{
	font-family: "Open sans", sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
	padding-left: 10em;
	padding-right: 0;
	background-color: #c2242a;
	position: relative;
}

.navbar a{
	text-decoration: none;
	margin-left: 0; 
	margin-right: 0;
	padding-left: 1.5em;
}

.logo{
	position: fixed;
	width: 12em;
	position: absolute;
	z-index: 1000;
	margin-top: 0.4em;
	margin-left: 2em;
}

.nav a{
	color: #ffffff;
}

.nav i{
	padding: 0.5em;
	font-size: 1.2em;
}

.connection{
	background-color: #0065a7;
	padding-left: 1.5em;
	margin-right: 0;
}

.connection a{
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	border-radius: 2px;
	padding-left: 1em;
	padding-right: 1em;
}

.login{
	padding-right: 0;
}

.signin{
	padding-left: 1em;
	margin-left: 1em;
}


/**Footer*/

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

li{
	list-style-type: none;
}

.footer{
	background-color: #2F4F4F;
	font-family: "Open sans", sans-serif;
	font-weight: lighter;
	padding: 2em;
}

.footer a{
	color: #ffffff;
	text-decoration: none;
}

.footer-infos{
	/*text-align: left;*/
}

.footer-social{
	/*text-align: center;*/
}

.footer-social-logos{
	font-size: 3em;
}

.footer-logos{
	text-align: right;
	margin-top: 2em;
}

.footer-logs img{
	border-radius: 25px;
}
