.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}

.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
    opacity: 1;
}

.grid li a,
.grid li img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
}
.grid li img:hover {
    opacity: 0.7;
}

.grid li img {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

/* Effect 1: opacity */
.grid.effect-1 li.animate {
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
    0% { }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { }
    100% { opacity: 1; }
}

@media screen and (max-width: 900px) {
    .grid li {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .grid li {
        width: 100%;
    }
}
